
/* Fonte Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}






::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 2px;
}










/* Fundos Gradientes */

.background-gradient-login-admin{
	background-image: linear-gradient(to bottom right, rgb(128, 128, 128), rgb(192, 192, 192))
	/*background-image: linear-gradient(to bottom right, #5B7FFF, #33CCFC);*/
}

.background-gradient-login{
	background-image: linear-gradient(to bottom right, #5B7FFF, #33CCFC);
}

.background-gradient-cadastro{
    background-image: linear-gradient(to bottom right, #6889FF, #C668FF);
}

.background-gradient-painel{
    background-image: linear-gradient(to bottom right, #FF6868, #FF68DE);
}

.background-gradient-home{
    background-image: linear-gradient(to bottom right, #45C270, #21CDC3);
}

.background-gradient-venda{
    background-image: linear-gradient(to bottom, #b993d6, #8ca6db);
}

.background-gradient-sunset{
    background-image: linear-gradient(to bottom right, #FDC639, #FF7C60);
}

.background-gradient-synthwave{
    background-image: linear-gradient(to bottom right, #FF9E68, #FF68DE);
}

.background-gradient-cadastro-usuario{
    background: linear-gradient(to right, #92dc7e, #64c987, #39b48e);
    background-size: 400% 400%;
    animation: animacao-gradient 10s infinite ease-in-out;
}







.background-card-crm-um{
    background: linear-gradient(to right, #00d2ff, #928dab);
}

.background-card-crm-dois{
    background: linear-gradient(to right, #eecda3, #ef629f); 
}

.background-card-crm-tres{
    background: linear-gradient(to right, #00c9ff, #92fe9d);
}


.fa-user{color:white;}
.fa-house{color:white;}



@keyframes animacao-gradient {
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}


/* Animacao do Card */
#slidein{
    animation: slidein 0.3s;
}

@keyframes slidein {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}






/* Animação de Digitação */
.text-typing {
    font-size: 30px;
}

.text-typing p {
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(22,end) forwards,
    blink 1s infinite;
}

@keyframes typing {
    0% { width:0% }
    100% { width:100% }
}
@keyframes blink {
    0%, 100% {
        border-right:2px solid transparent;
    }
    50% {
        border-right:2px solid grey;
    }
}
 
 
 








#to-show {
    display: none;
}
#to-hover:hover #to-show {
    transition-delay: 1s;
    display: block; 
}




/*
.carousel .carousel-item {
  height: 250px;
}

.carousel-item img {
    background-size: cover;
}
*/

.carousel-banner .carousel-banner-item{
  height: 500px;
}

.carousel-banner-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}








/* TABS PAGAMENTO */


[role="tablist"] {
  margin: 0 0 -0.1em;
  overflow: visible;
}

[role="tab"] {
  position: relative;
  margin: 0;
  padding: 0.3em 0.5em 0.4em;
  border-radius: 0.2em 0.2em 0 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  background: hsl(220deg 20% 94%);
}

[role="tab"]:hover::before,
[role="tab"]:focus::before,
[role="tab"][aria-selected="true"]::before {
  position: absolute;
  bottom: 100%;
  right: -1px;
  left: -1px;
  border-radius: 0.2em 0.2em 0 0;
  content: "";
}

[role="tab"][aria-selected="true"] {
  border-radius: 0;
  background: hsl(220deg 43% 99%);
  outline: 0;
}



[role="tab"][aria-selected="true"]::after {
  position: absolute;
  z-index: 3;
  bottom: -1px;
  right: 0;
  left: 0;
  height: 0.3em;
  background: hsl(220deg 43% 99%);
  box-shadow: none;
  content: "";
}

[role="tab"]:hover,
[role="tab"]:focus,
[role="tab"]:active {
  outline: 0;
  border-radius: 0;
  color: inherit;
}



[role="tabpanel"] {
  position: relative;
  z-index: 2;
  padding: 0.5em 0.5em 0.7em;
  border-radius: 0 0.2em 0.2em;
  background: hsl(220deg 43% 99%);
}

[role="tabpanel"].is-hidden {
  display: none;
}


[role="tabpanel"]:focus::after {
  position: absolute;
  bottom: 0;
  right: -1px;
  left: -1px;
  border-radius: 0 0 0.2em 0.2em;
  content: "";
}

[role="tabpanel"] p {
  margin: 0;
}

[role="tabpanel"] * + p {
  margin-top: 1em;
}
