
/* Fonte Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}


.background-gradient-login{
    background-image: linear-gradient(to right top, #77adff, #27c7ff, #00ddff, #00f0f3, #68ffd8);
}


.background-gradient-cadastro{
    background-image: linear-gradient(to right top, #93afff, #9aa1ff, #ae90ff, #ca78ff, #e954ff);
}

