
<nav class="navbar navbar-expand-sm bg-light p-3 shadow-sm" th:fragment="navbar-cli">
    <div class="container">
        <a class="navbar-brand text-dark" href="/">
            Texugos <img src="https://img.icons8.com/windows/512/badger.png" width="32" height="32">
        </a>

        <button class="navbar-toggler bg-dark" data-toggle="collapse" data-target="#navbar">
            <i class="fas fa-bars" style="color: white;"></i>
        </button>

        <div class="navbar-collapse collapse justify-content-end" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                	<div class="d-flex" sec:authorize="isAuthenticated()">                		
                		<a class="nav-link text-dark active mr-3" sec:authorize="hasRole('ROLE_CLIENTE')" href="/perfil">
                    		<i class="fa-solid fa-user fa-xl text-dark mr-3"></i>
                    		<span class="text-dark mt-3 mr-3" th:text="'Olá, ' + ${currentUser.nome} "></span>
                    	</a>                    	
                    </div>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link text-dark active mr-3" sec:authorize="!isAuthenticated()" href="/cliente/login">Login </a>
                    <a onclick="document.querySelector('#form-login').submit()" class="btn btn-outline-danger" sec:authorize="isAuthenticated()" href="#">Logout</a>
					<form id="form-login" action="/cliente/logout" method="post"></form>
                </li>
                <li class="nav-item">
                	<a class="nav-link text-dark active mr-3" sec:authorize="!isAuthenticated()" href="/cadastro">Cadastre-se</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark active mr-3" href="/carrinho">
                        <i class="fa-solid fa-cart-shopping fa-xl"></i>
                    </a>
                </li>
                
            </ul>		  
        </div>
    </div>
</nav>