<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="https://www.thymeleaf.org">

<head>

    <!-- HTML -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nome do Site - Painel</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}" />

    <!-- Boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light p-3 shadow-sm">
	  <div class="container">
            <a class="navbar-brand text-dark" href="/venda">
                Texugos <img src="https://img.icons8.com/windows/512/badger.png" width="32" height="32">
            </a>

            <button class="navbar-toggler bg-dark" data-bs-toggle="collapse" data-bs-target="#navbar">
                <i class="fas fa-bars" style="color: white;"></i>
            </button>

		    <div class="navbar-collapse collapse justify-content-end" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark active mr-3" aria-current="page" href="/venda">Cadastro</a>
                    </li>

                    <li class="nav-item">
                        <a aria-current="page" href="/logout">
                            <a class="nav-link text-dark active mr-3" aria-current="page" href="/venda">Login</a>
                        </a>
                    </li>	

                    <li class="nav-item">
                        <a class="nav-link text-dark active mr-3" aria-current="page" href="/carrinho">
                            <i class="fa-solid fa-cart-shopping fa-xl"></i>
                        </a>
                    </li>	
                </ul>		  
            </div>
        </div>
	</nav>
<div class="background-gradient-home">
        <div class="d-flex justify-content-center">
            <div class="card col-sm-12 col-md-12 col-lg-11 p-5 border-0 mt-5 mb-5 shadow d-lg-flex flex-lg-row" id="slidein">
                <div class="area-imagem col-lg-6 col-sm-6 col-md-12 col-sm-12">
                    <h1 class="mb-4">Texugo-Japonês</h1>
                    <img th:src="@{/assets/img/Luan.jpg}" width="600" class="img-fluid">
                </div>
                <div class="detalhes-produto text-left mt-5 p-4 col-lg-6 col-md-12 col-sm-12" th:each="produto: ${produtos}">
                    <h1 class="font-weight-bold"><span th:text="${produto.nomeProd}" /> </h1>
                    <h1>R$ <span th:text="${produto.precoUnitProd}" /> </h1>
                    <b class="text-muted d-flex align-items-end">Avaliação: <span th:text="${produto.avaliacao}" /> </b>
                    <p class="m-0">Em estoque: <span th:text="${produto.idProd}" /> </p>
                    <p class="m-0">Descrição: <span th:text="${produto.descricaoProduto}" /> </p>
                    <a href="/comprar-produto" class="btn btn-outline-primary col-12 mt-3">Comprar</a>
                </div>
            </div>
        </div>
    </div>
    

        
        
    <footer class="bg-dark text-center text-lg-start shadow-sm mt-0">
        <div class="text-center p-5 text-light">
            © 2022 Copyright:
            <a class="text-light font-weight-bold" href="#">Texugos</a>
        </div>
    </footer>
    </div>

</body>
</html>